In [2]:
list1 = [1,2,3,4,'str','BLR']

In [3]:
list1.remove('str')

In [4]:
list1

[1, 2, 3, 4, 'BLR']

# Sets

In [9]:
a = {3,3,3,3,4,5,6,6,4}

In [10]:
type(a)

set

In [11]:
a

{3, 4, 5, 6}

In [17]:
set1 = {'text',78,98.5,True,(3,4)}

In [18]:
set2 = set()

In [19]:
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [20]:
set1

{(3, 4), 78, 98.5, True, 'text'}

In [21]:
set1.add(50)

In [22]:
set1

{(3, 4), 50, 78, 98.5, True, 'text'}

In [26]:
for i in set1:
    print(i,end = " ")

True 98.5 50 (3, 4) text 78

# Dictionary

In [27]:
first_dict = {'john':'travolta',
              'kelly': 'Brook',
              'id':[34,43]}

In [28]:
first_dict

{'john': 'travolta', 'kelly': 'Brook', 'id': [34, 43]}

In [30]:
first_dict.keys()

dict_keys(['john', 'kelly', 'id'])

In [31]:
first_dict.values()

dict_values(['travolta', 'Brook', [34, 43]])

In [32]:
first_dict.items()

dict_items([('john', 'travolta'), ('kelly', 'Brook'), ('id', [34, 43])])

In [33]:
for k,v in first_dict.items():
    print(k)

john
kelly
id

In [34]:
first_dict.update({'id':'id1'})

In [35]:
first_dict

{'john': 'travolta', 'kelly': 'Brook', 'id': 'id1'}

In [36]:
set1 ={1,2,3,4,5}

In [37]:
set1.discard(3)

In [38]:
set1

{1, 2, 4, 5}

In [39]:
scores1 = [67,66,50,47]
scores2 = [70,80,90,47]

In [40]:
scores1+scores2

[67, 66, 50, 47, 70, 80, 90, 47]

In [41]:
age = (12,24,36)*3
age

(12, 24, 36, 12, 24, 36, 12, 24, 36)

In [42]:
#using a list
ID = [101,202,444]*2
ID

[101, 202, 444, 101, 202, 444]

In [43]:
#USING A STRING
name = 'friend'*3
name

'friendfriendfriend'

In [44]:
my_List=['A','b','c','d']
z =enumerate(my_List)
print(list(z))

[(0, 'A'), (1, 'b'), (2, 'c'), (3, 'd')]

In [46]:
# We will first start with a list of cities
city_list = ['Bangkok','Paris','Lahore','Moscow','Cairo']

In [47]:
#We create a data map now,using a dict
city_map = dict((name,position) for position,name in enumerate (city_list)) #enumerate function gives index first

In [48]:
city_map

{'Bangkok': 0, 'Paris': 1, 'Lahore': 2, 'Moscow': 3, 'Cairo': 4}

In [49]:
num_list=[5,6,7,8,9,10]
list(reversed(num_list))

[10, 9, 8, 7, 6, 5]

In [50]:
reversed(num_list)

In [51]:
subjects =['maths','statistics','science','economics']
subject_num = ['one','two','three','four']
all_subjects = list(zip(subjects,subject_num))   #Changed code for python 3
all_subjects

[('maths', 'one'),
 ('statistics', 'two'),
 ('science', 'three'),
 ('economics', 'four')]