In [2]:
l1 = [10,101,12,13]

for i in l1:
    print(i,'done')

10 done
101 done
12 done
13 done

In [3]:
l1_my = [10, 20, 'salim', True, 'Good']

for i in l1_my:
    
    print(type(i))
    print(i)

<class 'int'>
10
<class 'int'>
20
<class 'str'>
salim
<class 'bool'>
True
<class 'str'>
Good

In [8]:
l1

l1[0:3:2]

[10, 12]

In [9]:
new_list = ['Bharat','swati','Woo']
lis_num = [20,21,22]

new = new_list+lis_num

In [10]:
new

['Bharat', 'swati', 'Woo', 20, 21, 22]

In [11]:
s1 = (12,34,5,6)
s2 = (45,34,322)

s = s1+s2

s

(12, 34, 5, 6, 45, 34, 322)

In [12]:
new_list = ['Bharat','swati','Woo']
lis_num = [20,21,22]

for i in lis_num:
    new_list.append(i+1000)
    print(new_list)

['Bharat', 'swati', 'Woo', 1020]
['Bharat', 'swati', 'Woo', 1020, 1021]
['Bharat', 'swati', 'Woo', 1020, 1021, 1022]

In [13]:
l1 = ['Bharat', 'swati', 'Woo', 1020, 1021, 1022]

list_num = [20,21,22]

for i in l1[2:]:
    list_num.append(i)
    
print(list_num)

[20, 21, 22, 'Woo', 1020, 1021, 1022]

In [17]:
l1 = ['Bharat', 'swati', 'Woo', 1020, 1021, 1022,True]

list_num = [20,21,22]

for i in l1[2:]:
    if type(i) == str:
        list_num.append(i.upper())
    elif type(i) == int:
        list_num.append(i*10)
    elif type(i) == bool:
        list_num.append(int(i))
    else:
        print('unknown data type')
        
list_num

[20, 21, 22, 'WOO', 10200, 10210, 10220, 1]

In [18]:
list_num = [20,21,22]

list_num[::-1]

[22, 21, 20]

In [20]:
l1 = [1020, 1021, 1022,True]

for i in l1:
    
    if i > 1021:
        print(i,'more')
    elif i < 1021:
        print(i,'less')
    else:
        print(i,'zero')

1020 less
1021 zero
1022 more
True less

In [28]:
new_list=['Canisha', 'lovely', 'parth', 'rohit', 'ganesh', 'Cia']

l2 = []

for i in new_list:
    if len(i) <= 3:
        l2.append(i[2])
    else:
        l2.append(i[3])
    print(l2)

# print(l2)

['i']
['i', 'e']
['i', 'e', 't']
['i', 'e', 't', 'i']
['i', 'e', 't', 'i', 'e']
['i', 'e', 't', 'i', 'e', 'a']

In [29]:
for i in new_list:
    if i[0] == 'C':
        print(i)
    else:
        print('name do not start with C')

Canisha
name do not start with C
name do not start with C
name do not start with C
name do not start with C
Cia

In [32]:
nl = ['a','b','c','a','b']

for i,v in enumerate(nl,100):
    print(i,v)

100 a
101 b
102 c
103 a
104 b

In [34]:
s1 = [1,1,1000,1,1,1,20,2,2,2,3,4,4,56,6,7,7,8]
s2 = []

for i in s1:
    if i not in s2:
        s2.append(i)
        
s2

[1, 1000, 20, 2, 3, 4, 56, 6, 7, 8]

In [39]:
s1 = {}

print(type(s1))

<class 'dict'>

In [38]:
s1 = {2,3}

print(type(s1))

<class 'set'>

In [40]:
s1 = [1,1,1000,1,1,1,20,2,2,2,3,4,4,56,6,7,7,8]

s1 = set(s1)

print(s1)

{1, 2, 3, 4, 6, 7, 1000, 8, 20, 56}

In [43]:
s2 = {1,1,1,12,2,2}

s2.add('salim')

print(s2)

{'salim', 1, 2, 12}

In [48]:
s2 = {1,1,1,12,2,2}

s2.update(['malik','harry','azees'])

print(s2)

{1, 2, 12, 'harry', 'azees', 'malik'}

In [56]:
s2 = {1,1,1,12,2,2}

s2.update(['malik','harry','azees'])

print(s2)

s2.remove('malik')

print(s2)

{1, 2, 12, 'harry', 'azees', 'malik'}
{1, 2, 12, 'harry', 'azees'}

In [55]:
s2 = {1,1,1,12,2,2}

s2.pop()

print(s2)

{2, 12}

In [57]:
ip = {2,'shubham',12,'Kabindra','fuzalikhan'}

set1 = set()
set2 = set()

for i in ip:
    if type(i) == str:
        set1.add(i)
    else:
        set2.add(i)
        
print(set1)
print(set2)

{'Kabindra', 'shubham', 'fuzalikhan'}
{2, 12}

In [58]:
s1 = {'milk','pulses','cakes','candy'}
s2 = {'bags', 'belts', 'chips','milk'}

In [59]:
s1.intersection(s2)

{'milk'}

In [60]:
s1.union(s2)

{'bags', 'belts', 'cakes', 'candy', 'chips', 'milk', 'pulses'}

In [61]:
s1.difference(s2)

{'cakes', 'candy', 'pulses'}

In [62]:
s1-s2

{'cakes', 'candy', 'pulses'}

In [63]:
s2-s1

{'bags', 'belts', 'chips'}

In [66]:
tu = (1,2,3,1,1,1,1.0)

tu[0]

1

In [67]:
tu = (1,2,3,1,1,1,1.0)

sorted(tu)

[1, 1, 1, 1, 1.0, 2, 3]

In [68]:
tuple(sorted(tu))

(1, 1, 1, 1, 1.0, 2, 3)

In [70]:
tu = (1,2,3,1,1,1,1.0)

tu = list(tu)

tu.insert(0,100)

tu = tuple(tu)

print(tu)

(100, 1, 2, 3, 1, 1, 1, 1.0)

In [71]:
tu.index(100)

0

In [73]:
list(enumerate(tu))

[(0, 100), (1, 1), (2, 2), (3, 3), (4, 1), (5, 1), (6, 1), (7, 1.0)]

In [74]:
d = {'name' :'sam',
     'age'  : 23,
     'hari' :'black',
     'id'   : 1.0,
     'name' :'Python'}

d

{'name': 'Python', 'age': 23, 'hari': 'black', 'id': 1.0}

In [75]:
d['name']

'Python'

In [76]:
d2 = {'name':['sam','bam','ham'],
      'age': [23,30,30],
      'hair':['black','brown','red'],
      'id':[2,3,4]}

d2

{'name': ['sam', 'bam', 'ham'],
 'age': [23, 30, 30],
 'hair': ['black', 'brown', 'red'],
 'id': [2, 3, 4]}

In [77]:
d2['age']

[23, 30, 30]

In [78]:
d2['name'].extend(['may','July'])

d2['name']

['sam', 'bam', 'ham', 'may', 'July']

In [81]:
a = [i for i in range(10,105,5)]

a

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [83]:
a = []

for i in range(10,105,5):
    a.append(i)
    
a[::-1]

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10]

In [85]:
reversed(a)

In [84]:
list(reversed(a))

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10]

In [86]:
x = []

for i in range(10,105,5):
    if (i%2) == 0:
        x.append('even')
    else:
        x.append('odd')
        
x

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [87]:
x = ['even' if i%2 == 0 else 'odd' for i in range(10,105,5)]

x

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [89]:
x = 2

while x<5:
    print('less than 5')
    x+=1

less than 5
less than 5
less than 5

In [91]:
def cube(x):
    return (x**3)+100

cube(4)

164

In [93]:
for i in range(5,11):
    print(cube(i))

225
316
443
612
829
1100

In [94]:
def sqrt_val(x):
    x = x**(1/2)
    print('sqrt',x)
    
sqrt_val(5)

sqrt 2.23606797749979

In [95]:
def sqrt_val(x):
    x = x**(2)
    print('sqrt',x)
    
sqrt_val(5)

sqrt 25

In [100]:
def sqrt_val(x):
    x = x**(2)
    return x
    
sqrt_val(5)

def cube_val(x):
    x = x**3
    return x

In [101]:
a = []

for i in range(2,7):
    
    if i<4:
        a.append(sqrt_val(i))
    else:
        a.append(cube_val(i))
        
a

[4, 9, 64, 125, 216]

In [102]:
x = [4, 9, 64, 125, 216]

def prod(y):
    product = 1
    for i in y:
        product *=i
    return product

prod(x)

62208000

In [103]:
x = [4, 9, 64, 125, 216]

def prod(y):
    z = []
    product = 1
    for i in y:
        product *=i
        z.append(product)
    return z

prod(x)

[4, 36, 2304, 288000, 62208000]

In [105]:
def arg(*x):
    return sum(x)

arg(1,2,3,4,5)

15

In [108]:
def arg(a,b):
    print('value of a:',a)
    print('value of b:',b)
    return a+b

arg(3,2)

value of a: 3
value of b: 2

5

In [109]:
def arg(a,b):
    print('value of a:',a)
    print('value of b:',b)
    return a+b

arg(b = 3,a = 2)

value of a: 2
value of b: 3

5

In [110]:
def arg(a,b=3):
    print('value of a:',a)
    print('value of b:',b)
    return a+b

arg(2,5)

value of a: 2
value of b: 5

7

In [111]:
def arg(a,b=3):
    print('value of a:',a)
    print('value of b:',b)
    return a+b

arg(2)

value of a: 2
value of b: 3

5

In [112]:
def arg(*x):
    return sum(x)

arg(1,2,3,4,5)

15

In [113]:
def kwargs(**x):
    print(x)
    return sum(x.values())

kwargs(score1 = 80, score2 = 90, score3 = 50,
                 score6 = 90, score7 = 80, score8 = 50)

{'score1': 80, 'score2': 90, 'score3': 50, 'score6': 90, 'score7': 80, 'score8': 50}

440

In [114]:
def kwargs(**x):
    print(x)
    return x.keys()

kwargs(score1 = 80, score2 = 90, score3 = 50,
                 score6 = 90, score7 = 80, score8 = 50)

{'score1': 80, 'score2': 90, 'score3': 50, 'score6': 90, 'score7': 80, 'score8': 50}

dict_keys(['score1', 'score2', 'score3', 'score6', 'score7', 'score8'])

In [115]:
def kwargs(**x):
    print(x)
    return x.items()

kwargs(score1 = 80, score2 = 90, score3 = 50,
                 score6 = 90, score7 = 80, score8 = 50)

{'score1': 80, 'score2': 90, 'score3': 50, 'score6': 90, 'score7': 80, 'score8': 50}

dict_items([('score1', 80), ('score2', 90), ('score3', 50), ('score6', 90), ('score7', 80), ('score8', 50)])

In [116]:
def kwargs_func2(**x):
    print(x)
    return x['year']

op2 = kwargs_func2(name = 'python', year = 2022, month = 'july', date = 30)

op2

{'name': 'python', 'year': 2022, 'month': 'july', 'date': 30}

2022

In [122]:
def identify(**x):
    dt = {'text':[],'number':[],'decimal':[]}
    
    for i in x.values():
        if type(i) == str:
            dt['text'].append(i)
        elif type(i) == int:
            dt['number'].append(i)
        elif type(i) == float:
            dt['decimal'].append(i)
    return dt

a = identify(name = 'python', year = 2022, month = 'july', date = 30, batch = 'DS', batch_id = 2.5)

print(a)

{'text': ['python', 'july', 'DS'], 'number': [2022, 30], 'decimal': [2.5]}

In [125]:
bal = 1000

def companyT1(exp):
    bal-=exp
    return bal

def companyT2(exp):
    bal-=exp
    return bal

In [126]:
companyT1(500)

UnboundLocalError: local variable 'bal' referenced before assignment

In [141]:
bal = 1000

def companyT1(exp):
    global bal
    bal-=exp
    return bal

def companyT2(exp):
    global bal
    bal-=exp
    return bal

In [142]:
companyT1(200)

800

In [143]:
companyT2(300)

500

In [145]:
balanceA = 1000
print('start balance', balanceA)

def company_T1(exp=1000):
    global balanceA
    if balanceA<=exp:
        print('un-successful T1')
    else: 
        balanceA-=exp
    print('remaining bal 1', balanceA)
    return balanceA

def company_T2(exp):
    global balanceA
    if balanceA<=exp:
        print('un-successful T2')
    else: 
        balanceA-=exp
        
    print('remaining bal 2', balanceA)
    return balanceA

start balance 1000

In [150]:
print(company_T1(700))

remaining bal 1 100
100

In [151]:
print(company_T2(200))

un-successful T2
remaining bal 2 100
100

In [153]:
a = lambda x: 2*x

b = a(99)

print(b)

198

In [154]:
a = lambda x,y: x+y

b = a(2,3)

print(b)

5

In [156]:
a = lambda x,y: x if x>y else y

b = a(4,5)

print(b)

5

In [164]:
n = [4,3,2,1]

a = list(map(lambda x: x**2,n))


print(a)

[16, 9, 4, 1]

In [165]:
a = [x**2 for x in n]

print(a)

[16, 9, 4, 1]

In [166]:
n = [4,3,2,1]

a = list(map(lambda x: x>2,n))


print(a)

[True, True, False, False]

In [168]:
n = [4,3,2,1]

a = list(filter(lambda x: x>2,n))

print(a)

[4, 3]

In [170]:
a = [x for x in n if x>2]

print(a)

[4, 3]

In [174]:
def multi(lst1):
    product = lst1[0]
    for i in range(1,len(lst1)):
        product *=lst1[i]
    return product

multi([4,3,2,1])

24

In [173]:
a = [4,3,2,1]

len(a)

4

In [179]:
from functools import reduce

n = [4,3,2,1]

a = reduce(lambda x,y:x*y,n)

a

24